.stat {
	border-right: none;
	padding-left: 20px;
}
.welle {
	border-left: none;
	background-repeat: repeat-y !important;
	background-position: right 2px top !important;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
}
.welle1 {
	background-image: url(@@WELLE1@@) !important;
	background-size: 5px 9.5px !important;
}
.welle2 {
	background-image: url(@@WELLE2@@) !important;
	background-size: 10px 9.5px !important;
}
.welle3 {
	background-image: url(@@WELLE3@@) !important;
	background-size: 15px 9.5px !important;
}
