.stat {
	border-right: none;
	padding-left: 20px;
}
.welle {
	border-left: none;
	background-repeat: repeat-y !important;
	background-position: right 2px top !important;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
}
.welle1 {
	background-image: url(@@WELLE1@@) !important;
	background-size: calc(1.4em / 4 * 1) calc(1.4em / 2) !important;
}
.welle2 {
	background-image: url(@@WELLE2@@) !important;
	background-size: calc(1.4em / 4 * 2) calc(1.4em / 2) !important;
}
.welle3 {
	background-image: url(@@WELLE3@@) !important;
	background-size: calc(1.4em / 4 * 3) calc(1.4em / 2) !important;
}
