<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>-->
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="updater.auto" value=""/>
    <add key="updater.url" value="https://fahrplan.manuelhu.de/versioninfo.xml" />
    <add key="files.last" value="" />
    <add key="files.save-last" value="true"/>
    <add key="exporter.last" value="-1"/>
    <add key="extmgr.enabled" value="FPLedit.Standard.Plugin;FPLedit.BuchfahrplanExport.Plugin;FPLedit.BfplImport.Plugin;FPLedit.jTrainGraphStarter.Plugin" />
    <add key="xml.indent" value="False"/>
    <add key="jTGStarter.show-message" value="True" />
    <add key="jTGStarter.javapath" value="javaw.exe" />
    <add key="jTGStarter.jtgpath" value="jTrainGraph_203.jar" />
    <add key="bfpl.console" value="false"/>
    <add key="log.enable-file" value="false"/>
  </appSettings>
</configuration>
