<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="CheckUrl" value="https://fahrplan.manuelhu.de/versioninfo.xml" />
    <add key="EnabledExtensions" value="FPLedit.Standard.Plugin;FPLedit.BildfahrplanExport.Plugin;FPLedit.BuchfahrplanExport.Plugin;FPLedit.BfplImport.Plugin" />
  </appSettings>
</configuration>
